

body{
    overflow: hidden;
}

.App {
    text-align: center;
}




.App-header {
    background-color: #529A86;
    height: 5rem;
    padding: 2rem;
    color: white;
}


.App-title {
    font-size: 2em;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.register-form {
    visibility: hidden;
    height: 0;
}
.register-form.show {
    visibility: visible;
    height: 200px;

}
#login-form:target {
    transition: visibility 0.3s linear 300ms, opacity 300ms,  height 1000ms;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
#login-form{

}

#register-form:target {

    transition: visibility 0.3s linear 300ms, opacity 300ms, height 1000ms;
    opacity: 0;
    visibility: hidden;
    height: 0;

}
#register-form{
    visibility: visible;
    opacity: 1.0;
    height: 200px;


}


body {

    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlYmRjMCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTNjOWIzIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
      background-image: -webkit-linear-gradient(-45deg, #4ebdc0, #53c9b3);
      background-image: -moz-linear-gradient(-45deg, #4ebdc0, #53c9b3);
      background-image: -o-linear-gradient(-45deg, #4ebdc0, #53c9b3);
      background-image: linear-gradient(135deg, #4ebdc0, #53c9b3);
      height: 100%;
      */
}





.Game {
  text-align: center;
}

.Game .Button-Panel{
   background: #519a86;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   width: 70px;
   right: 16%;
   top: 25%;
   height: 450px;
   position: fixed;
   padding-left: 1.5%;
}
.Game .Red {
   display: block;
   border:1px solid black;
   background-color: #c61e0d;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Red:hover {background-color:#e01e0b}

.Game .Orange {
   display: block;
   border:1px solid black;
   background-color: #e67e22;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Orange:hover {background-color:#f28729}

.Game .Yellow {
   display: block;
   border:1px solid black;
   background-color: #f4d03f;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Yellow:hover {background-color:#fcd849}

.Game .Green {
   display: block;
   border:1px solid black;
   background-color: #229954;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Green:hover {background-color:#27a35b}

.Game .Blue {
   display: block;
   border:1px solid black;
   background-color: #2e86c1;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Blue:hover {background-color:#3492d1}

.Game .Purple {
   display: block;
   border:1px solid black;
   background-color: #9b59b6;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Purple:hover {background-color:#ac64c9}

.Game .Button-Input{
   display: inline-block;
   width: 40%;
   padding: 1%;
   text-align: center;
   background: #519a86;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Game .WhiteNoHover {
    margin: 0.5rem;
    border:1px solid black;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
}

.Game .White {
    margin: 0.5rem;
    border:1px solid black;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
}
.Game .White:hover{border:1px solid gold;}

.Game .Red:hover {background-color:#e01e0b}

.Game .button6 {
    height: 20px;
    width: 50.830px;
    border: 2px solid #519a86;
    background-color: #519a86;
}

.Game .button5 {
    background-color:  White;
    color: #555555;
    border: 2px solid #555555;
}

.Game .button5:hover {
    background-color: #76b852;
    color: #555555;

}

.Game .fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
}

.Game .fourth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Game .buttonIn {
    display:inline-flex;
}
.Game .pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
}


/*Congrats.js*/
.Congrats{
    text-align: center;
}
