


.App {
  text-align: center;
}




.App-header {
  background-color: #529A86;
  height: 5rem;
  padding: 2rem;
  color: white;
}


.App-title {
  font-size: 2em;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}




.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}








.Game {
  text-align: center;

}

.Game .Button-Panel{
   border: 1px solid black;
   width: 5%;
   right: 16%;
   top: 17%;
   height: 57%;
   position: fixed;
   padding-left: 1.5%;


}
.Game .Red {
   display: block;
   border:1px solid black;
   background-color: #c61e0d;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Red:hover {background-color:#e01e0b}


.Game .Orange {
   display: block;
   border:1px solid black;
   background-color: #e67e22;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Orange:hover {background-color:#f28729}


.Game .Yellow {
   display: block;
   border:1px solid black;
   background-color: #f4d03f;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Yellow:hover {background-color:#fcd849}


.Game .Green {
   display: block;
   border:1px solid black;
   background-color: #229954;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Green:hover {background-color:#27a35b}


.Game .Blue {
   display: block;
   border:1px solid black;
   background-color: #2e86c1;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Blue:hover {background-color:#3492d1}


.Game .Purple {
   display: block;
   border:1px solid black;
   background-color: #9b59b6;
   width: 55px;
   height: 55px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;
}
.Game .Purple:hover {background-color:#ac64c9}















.Game .Button-Input{
   display: inline-block;

   border: 1px solid black;

   width: 40%;
   padding: 1%;
   height: 40rem;








}

.Game .White {
    margin: 0.5rem;

    border:1px solid black;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;

}
.Game .Red:hover {background-color:#e01e0b}
/*
.Game .Red {

display: inline-block;

   border: 1px solid black;
   width: 5%;
   right: 16%;
   top: 17%;
   height: 57%;
   position: fixed;
   padding-left: 1.5%;

   border:1px solid black;
   background-color: #fff;
   width: 30px;
   height: 30px;
   padding: 6px 0px;
   border-radius: 50%;
   text-align: center;
   box-shadow: 0 3px #000;


  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;


}
*/